server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;

  server_name metrics.{{ ntfy_domain }};

  location / {
    proxy_pass http://127.0.0.1:2587;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    satisfy all;

    auth_basic "Ntfy Metrics, restricted access";
    auth_basic_user_file {{ app_dir }}/nginx/prometheus.htpasswd; 
  }
   
  add_header Strict-Transport-Security "max-age=15552000; includeSubDomains" always;
  add_header X-Robots-Tag none;

  # logs
  access_log /var/log/nginx/metrics.ntfy.access.log;
  error_log /var/log/nginx/metrics.ntfy.error.log;

  ssl_certificate /etc/letsencrypt/live/metrics.{{ ntfy_domain }}/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/metrics.{{ ntfy_domain }}/privkey.pem; # managed by Certbot
}

server {
  listen [::]:80;
  listen 80;

  server_name metrics.{{ ntfy_domain }};

  if ($host = metrics.{{ ntfy_domain }}) {
    return 301 https://$host$request_uri;
  }
  return 404;
}
