server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name {{ ntfy_domain }};

  add_header Strict-Transport-Security "max-age=15552000; includeSubDomains" always;    

  location / {
    proxy_pass http://127.0.0.1:2586;
    proxy_http_version 1.1;

    proxy_set_header Host $http_host;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_connect_timeout 3m;
    proxy_send_timeout 3m;
    proxy_read_timeout 3m;

    client_max_body_size 0; # Stream request body to backend
  }


  # logs
  access_log /var/log/nginx/ntfy.access.log;
  error_log /var/log/nginx/ntfy.error.log;

  ssl_certificate /etc/letsencrypt/live/{{ ntfy_domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ ntfy_domain }}/privkey.pem;
}

server {
  listen [::]:80;
  listen 80;

  server_name {{ ntfy_domain }};

  if ($host = {{ ntfy_domain }}) {
    return 301 https://$host$request_uri;
  }
  return 404;
}
