base-url: https://{{ ntfy_domain }}
listen-http: 0.0.0.0:2586
# Tell ntfy to use "X-Forwarded-For" to identify visitors
behind-proxy: true
log-file: /var/log/ntfy.log
# Keep messages after application restart
cache-file: /var/cache/ntfy/cache.db
# TODO: attachments

auth-file: /var/lib/ntfy/user.db
auth-default-access: deny-all

enable-metrics: true
metrics-listen-http: 0.0.0.0:2587
